
header {
    width: 100%;
    height: 50px;
    background-color: #313949;
    clear:both;
    position: fixed;
    left: 0;
    top: 0;
}

header .more {
    display: inline-block;
    width: 38px;
    height: 50px;
    padding-left: 5px;
    cursor: pointer;
    position: relative;
    float: left;
}

header .more a i {
    width: 14px;
    height: 11px;
    display: inline-block;
    cursor: pointer;
    line-height: 50px;
    background: url(../icon/svgicons_43e8a_.svg) -146px -222px no-repeat;
    margin: 20px auto;
}

header .more:hover .top_tag {
    display: block;
}

header .more .top_tag {
    display: none;
    width: 74px;
    height: auto;
    position: absolute;
    left: 5px;
    top: 49px;
    border: 1px solid #d6d6d6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    background-color: #fff;
    color: #111;
    padding: 10px;
}

header .more .top_tag div a:nth-child(1) {
    font-size: 13px;
    color: #111;
}

header .more .top_tag div a i {
    display: inline-block;
    width: 12px;
    height: 8px;
    background: url(../icon/svgicons_43e8a_.svg) -283px -34px no-repeat;
    margin: 0;
    padding: 0;
}

header .more .top_tag div a {
    font-size: 13px;
    color: rgb(44, 123, 208);
    padding: 0 4px;
}

header .top_nav {
    display: inline-block;
    float: left;
}

header .top_nav ul li {
    display: inline-block;
    padding: 0 12px;
}

header .top_nav li:last-child {
    position: relative;
}

header .top_nav ul li a {
    font-size: 14px;
    cursor: pointer;
    color: rgb(238, 238, 238);
    line-height: 50px;
}

header .top_nav ul li:last-child a {
    display: inline-block;
    width: 18px;
    height: 40px;
}

header .free_levup {
    padding-top: 3px;
    display: inline-block;
    width: 100px;
    height: 41px;
    padding-right: 3px;
    float: right;
}

header .free_levup span {
    border-collapse: separate;
    color: rgb(204, 204, 204);
    cursor: default;
    display: inline-block;
    font-size: 13px;
    line-height: normal;
    margin-right: 3px;
}

header .free_levup span:nth-child(2) {
    color: rgb(0, 186, 255);
}

header .top_menu {
    display: inline-block;
    float: right;
}

header .top_menu ul li {
    display: inline-block;
    width: 29px;
    height: 48px;
    padding-top: 1px;
    position: relative;
}

header .top_menu ul li:nth-child(1) {
    border-left: 1px solid #eee;
    padding-left: 20px;
}

header .top_menu ul li a {
    display: block;
    width: 19px;
    height: 19px;
    margin-top: 15px;
}

header .top_menu ul li:nth-child(1) a {
    background: url(../icon/svgicons_43e8a_.svg) -147px -66px no-repeat;
}

header .top_menu ul li:nth-child(2) a {
    background: url(../icon/svgicons_43e8a_.svg) -180px -66px no-repeat;
}

header .top_menu ul li:nth-child(3) a {
    background: url(../icon/svgicons_43e8a_.svg) -244px -66px no-repeat;
}

header .top_menu ul li:nth-child(4) a {
    background: url(../icon/svgicons_43e8a_.svg) -275px -66px no-repeat;
}

header .user {
    float: right;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: url(../icon/user-thumbnail.png) center center no-repeat;
    background-size: contain;
    margin-top: 8px;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
}

header .top_menu ul li .search {
    display: none;
    width: 256px;
    height: 28px;
    position: absolute;
    top: 12px;
    left: -210px;
    border-radius: 14px;
    background-color: #eee;
}

header .top_menu ul li .search i {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url(../icon/svgicons_43e8a_.svg) 1px 0 no-repeat;
    margin: 7px 0 0 7px;
    float: left;
}

header .top_menu ul li .search input {
    outline: none;
    border: none;
    width: 200px;
    height: 18px;
    background-color: #eee;
    float: left;
    margin: 5px;
}

header .top_menu ul li .search span {
    display: block;
    width: 9px;
    height: 9px;
    background: url(../icon/svgicons_43e8a_.svg) -3px -1144px no-repeat;
    margin: 10px 0;
    float: left;
}

header .top_menu ul li .hide_menu {
    position: absolute;
    left: -1px;
    top: 42px;
    display: none;
    width: 100px;
    height: 450px;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

header .top_menu ul li .hide_menu ul li {
    display: block;
    width: 99px;
    height: 26px;
    padding: 0;
}

header .top_menu ul li .hide_menu ul li a {
    width: 64px;
    height: 13px;
    color: rgba(0, 0, 0, .87);
    cursor: pointer;
    display: block;
    font-size: 12px;
    line-height: 13px;
    padding: 6px 0px 6px 16px;
    background-image: none;
    margin: 0;
}

header .top_menu ul li .hide_menu ul li a::before {
    content: "+";
    display: inline-block;
    width: 6px;
    height: 18px;
    cursor: pointer;
    font-size: 12px;
    margin-right: 10px;
}

header .top_menu ul li:nth-child(2):hover .hide_menu {
    display: block;
}

header .user .user_setting {
    display: none;
    position: absolute;
    width: 295px;
    height: 445px;
    left: -246px;
    top: 39px;
    background-color: #fff;
    box-shadow: 0 1px 12px rgba(0, 0, 0, .3);
    padding-top: 20px;
}

header .user .user_setting a {
    display: block;
    width: 265px;
    height: 22px;
    color: #2c7bd0;
    margin-left: 30px;
    font-size: 15px;
    cursor: pointer;
    padding: 7px 15px 7px;
}

header .user .user_setting span {
    display: block;
    width: 265px;
    height: 22px;
    color: #111;
    margin-left: 30px;
    font-size: 12px;
    cursor: pointer;
    padding: 7px 15px 7px;
}

header .user .user_setting div {
    width: 253px;
    height: 24px;
    background-color: #eee;
    color: rgb(17, 17, 17);
    font-size: 14px;
    padding: 9px 10px 9px 32px;
    line-height: 28px;
}

header .user .user_setting i:nth-child(1) {
    display: inline-block;
    width: 15px;
    height: 18px;
    background: url(../icon/huaweismall_e3ef3_.png) 0 0 no-repeat;
    margin-right: 15px;
    margin-left: 15px;
}

header .user .user_setting i:nth-child(2) {
    display: inline-block;
    width: 15px;
    height: 18px;
    background: url(../icon/svgicons_43e8a_.svg) -259px -2338px no-repeat;
}

header .top_nav ul li .modules {
    display: none;
    width: 250px;
    height: 397px;
    padding-top: 7px;
    background-color: #fff;
    position: absolute;
    border: 1px solid #d6d6d6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

header .top_nav ul li .modules i {
    display: inline-block;
    width: 16px;
    height: 19px;
    background: url(../icon/svgicons_43e8a_.svg) 0 0 no-repeat;
    margin-left: 25px;
}

header .top_nav ul li .modules input {
    border: none;
    width: 171px;
    height: 30px;
    margin: 0 10px;
    color: rgb(34, 34, 34);
    font-size: 15px;
    outline: none;
}

header .top_nav ul li .modules ul li {
    display: block;
    width: 248px;
    height: 20px;
    padding: 5px 18px;
}

header .top_nav ul li .modules ul li a {
    display: block;
    width: 205px;
    height: 19px;
    color: rgb(48, 48, 48);
    font-size: 14px;
    line-height: 20px;
}

header .top_nav ul li .modules span {
    display: inline-block;
    width: 120px;
    height: 25px;
    padding: 10px 23px;
    color: #2c7bd0;
    font-size: 15px;
}

header .top_nav ul li .modules span::before {
    display: inline-block;
    content: "+";
    margin: 0 15px;
}

header .top_nav ul li .modules div {
    width: 248px;
    height: 89px;
    padding: 10px 0;
    border-top: 1px solid rgb(221, 221, 221);
    background-color: rgb(247, 247, 247);
}

header .top_nav ul li .modules div ul li a {
    color: #777;
    font-size: 12px;
}

header .top_nav ul li .modules div ul li:nth-child(2) a::after {
    display: inline-block;
    content: "新";
    color: #fff;
    background-color: #e00;
    margin: 0 5px;
    padding: 0 5px;
}

footer {
    width: 100%;
    height: 28px;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer .footer_nav ul {
    display: inline-block;
    width: 17%;
    height: 28px;
    border: 1px solid rgb(178, 178, 178);
    float: left;
}

footer .footer_nav ul li {
    display: inline-block;
    width: 126px;
    height: 28px;
    text-align: center;
}

footer .footer_nav ul li a::before {
    display: block;
    content: "";
    width: 13px;
    height: 13px;
    background: url(../icon/chat.png) 0 0 no-repeat;
    background-size: contain;
    margin-top: 3px;
    margin-left: 8px;
}

footer .footer_nav ul li a {
    font-size: 1px;
    line-height: 12px;
    color: #999;
    position: absolute
}

footer .footer_nav ul li a:hover {
    color: #2c7bd0;
}

footer .chat {
    display: inline-block;
    height: 28px;
    width: 64%;
}

footer .chat input {
    height: 28px;
    outline: none;
    border: none;
    color: #999;
    font-size: 12px;
    padding: 0 0 0 10px;
    float: left;
    width: 100%;
    border-top: 1px solid #b2b2b2;
}

footer .footer_menu {
    float: right;
    width: 18%;
    height: 28px;
}

footer .footer_menu ul {
    display: block;
    width: 100%;
    border-top: 1px solid #b2b2b2;
}

footer .footer_menu ul li {
    display: inline-block;
    width: 66px;
    height: 28px;
    border-left: 1px solid #b2b2b2;
    float: left;
}

footer .footer_menu ul li i {
    display: block;
    width: 19px;
    height: 24px;
    background-size: contain;
    margin: 8px auto;
}

footer .footer_menu ul li:nth-child(1) i {
    background: url(../icon/stickyNotes_e6b09_.svg) -5px -24px no-repeat;
}

footer .footer_menu ul li:nth-child(2) i {
    background: url(../icon/svgicons_43e8a_.svg) -231px -2390px no-repeat;
}

footer .footer_menu ul li:nth-child(3) i {
    background: url(../icon/svgicons_43e8a_.svg) -201px -8px no-repeat;
}

footer .footer_menu ul li:nth-child(4) i {
    background: url(../icon/svgicons_43e8a_.svg) -175px -9px no-repeat;
}